<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="xkcon" connectionString="Data Source=.;Initial Catalog=xkxt;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="xkcon" connectionString="server=.;database=xk;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>